<span><a href="/books">Back</a></span><br>

{{#with book}}
<h1>{{title}}</h1>
<h4>Author: {{author}} - rating: {{rating}}</h4>
<p>{{description}}</p>
<span><a href="/book-edit/{{_id}}">EDIT</a></span><br>
{{/with}}